# Ghostty config — Mac.
# Docs: https://ghostty.org/docs/config

font-family = "JetBrains Mono"
font-size = 14
#theme = Havn Daggry #let's stick with a darkmode theme on mac.
cursor-style = block
shell-integration = zsh

keybind = global:f19=toggle_quick_terminal
keybind = shift+enter=text:\n

# Mac-specific
# https://ghostty.org/docs/help/terminfo#sudo
shell-integration-features = sudo
